<div class="row">
	<div class="col-md-3"><a href="/assets/Web_FullSize/Image_Full_1.jpg" rel="prettyPhoto[pp_gal]" title="This is the description"><%= image_tag("Web_Thumbnails/Image_Thumb_1.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></a></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_2.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_3.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_4.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_5.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_6.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_7.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_8.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_9.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_10.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_11.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_12.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_13.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_14.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_15.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_16.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_17.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_18.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_19.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_20.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_21.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_22.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_23.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_24.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_25.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_26.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_27.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_28.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_29.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_30.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_31.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_32.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_33.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_34.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_35.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_36.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_37.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_38.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_39.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	<div class="col-md-3"><%= image_tag("Web_Thumbnails/Image_Thumb_40.jpg", :alt => "rss feed", :width =>"100%", :class =>"img-thumbnail") %></div>
	

</div>		

