<h1>Thoughts from friends and family</h1>

<br>
<div class='row'>

<table>

<% @posts.each do |micropost| %>
  <!-- need to design this -->
  <tr>
	 <div class="row">
	 	<div class='col-md-8 col-md-offset-2'>
	 		<div class="row">
				<div class="col-md-5">
					<span style='font-weight:bold;font-size:14px;color:#333'><%= micropost.name %></span> <span style='font-weight:none;font-size:12px;color:#999'>(<%= micropost.email.partition('@').first %>)</span>
				</div>
				<div class='col-md-3 col-md-offset-4'>
					<%= micropost.created_at.strftime("%m/%d/%y %H:%M") %>
				</div>
			</div>
			<div class="row">
				<div class='col-md-12'>
					<span style='font-size:14px'><%= micropost.content %></span>
				</div>
			</div>
		</div>
		 <div class='col-md-2'>
		</div>
	  </div>
	</tr>
	<br style='line-height:23px'>

  <!--<tr>
    <td><%= micropost.content %></td>
    <td><%= micropost.city %></td>
    <td><%= micropost.state %></td>
  </tr>-->
<% end %>
</table>

</div>
<br>

<div class="row" style='text-align:center;margin:0 auto'>
<span style="font-size:20px;font-weight:bold">Leave a Message</span>
<br>
<br>

<%= render 'form' %>
</div>