<!DOCTYPE html>
<html>
<head>
  <title>Memories of Meg</title>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="/assets/galleria.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<%= render	'layouts/header' %>
	<%= yield %>
	<%= render 'layouts/footer' %>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto({
    	social_tools:'',
    	theme: 'light_rounded'

    	});
  });
</script>

</body>
</html>
